/*  Base
  -----------------------

html, button, input, select, textarea
  font-family: $base-font-family
  color: $base-font-color

html
  /* This may cause problems in Firefox when combined with JS plugins (like modals or drag-and-drop UIs) that rely on viewport dimension calculations */
  overflow-y: scroll
  -webkit-font-smoothing: antialiased

body
  font-size: $base-font-size
  line-height: $base-line-height
  background-color: $bg-body

.container
  +container($total-columns, $break6, $break9, $break13)
  // +susy-grid-background

  +at-breakpoint($break6)
    // +susy-grid-background

  +at-breakpoint($break9)
    // +susy-grid-background

  +at-breakpoint($break13)
    // +susy-grid-background

img
  vertical-align: middle


/* Header
  -----------------------

header
  margin-bottom: .625em
  background-color: $bg-header

.logo
  float: left
  margin: .625em 0 0 0

/* navigation

#menu
  ul
    +inline-block-list
    li
      padding: 0 1.25em
    li:first-child
      padding-left: 0


/* Footer
  -----------------------

footer
  ul
    margin-bottom: .3125em
    li
      display: inline-block
      padding: 0 .625em
    li:first-child
      padding-left: 0

  p
    margin-top: 0
    font-size: 75%
    color: $font-gray
