<ul class="language">
  <% Refinery::I18n.frontend_locales.each do |frontend_locale| %>
    <li>
      <%= link_to Refinery::I18n.locales[frontend_locale], {:locale => frontend_locale} %>
    </li>
  <% end %>
</ul>
